@tailwind base;
@tailwind components;
@tailwind utilities;



@layer utilities {

  * {
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth !important;
  }

  html,
  body,
  #root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  img,
  video {
    max-width: unset !important;
  }

  body {
    font-family: 'Inter', sans-serif;
    background: #d0d0d0;
  }

  a {
    pointer-events: all;
    color: black;
    text-decoration: none;
  }

  .scrollDown {
    transform: rotate(-90deg) translate(0);
  }

  .scrollDown img {
    transform: rotate(90deg);
    transform-origin: center;
    animation: scroll-down-move 1s ease infinite;
  }

  @keyframes scroll-down-move {
    0% {
      left: -30px
    }

    50% {
      left: -40px
    }

    to {
      left: -30px
    }
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  canvas {
    opacity: 0;
    touch-action: none;
    animation: fade-in 5s ease 1s forwards;
  }

  #code span:nth-of-type(2) {
    animation: lower 9s linear infinite;
  }

  #code span:nth-of-type(3) {
    animation: lower 9s linear infinite;
  }

  #code span:nth-of-type(1) {
    text-shadow: none;
    opacity: .4;
  }

  @keyframes lower {

    0%,
    12%,
    18.999%,
    23%,
    31.999%,
    37%,
    44.999%,
    46%,
    49.999%,
    51%,
    58.999%,
    61%,
    68.999%,
    71%,
    85.999%,
    96%,
    100% {
      opacity: 0.99;
      text-shadow: 0 0 80px #024742, 0 0 30px #024742, 0 0 6px #024742;
    }

    19%,
    22.99%,
    32%,
    36.999%,
    45%,
    45.999%,
    50%,
    50.99%,
    59%,
    60.999%,
    69%,
    70.999%,
    86%,
    95.999% {
      opacity: 0.4;
      text-shadow: none;
    }
  }

  .ProductInfiniteScroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px transparent;
    border-radius: 10px;
    background-color: transparent;
  }

  .ProductInfiniteScroll::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
    border-radius: 10px;
  }

  .ProductInfiniteScroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px transparent;
    background-color: transparent;
  }

  #loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 3px solid;
    border-color: #024742 transparent;
  }

  #loader {
    animation: rotation 1s linear infinite
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

}

.react-wavy-transitions__wavy-link {
  width: 100% !important;
}

.leaflet-control-attribution {
  display: none !important;
}

.swiper-pagination-fraction {
  width: 100px;
  margin-bottom: 4rem;
  position: absolute;
  bottom: 1px;
  left: -210px;
}

.swiper-button-next {
  right: 47%;
  bottom: 80px;
  top: 88% !important;
}

.swiper-button-prev {
  left: 47%;
  bottom: 80px;
  top: 88% !important;
}

.slider2 .swiper-button-prev:after,
.slider2 .swiper-button-next:after {
  color: #ffffff;
  border: 1px solid #ffffff;

}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 1.3rem;
  color: #024742;
  border: 1px solid #024742;
  border-radius: 100%;
  padding: .5rem .8rem;
}

@media (max-width:1200px) {
  .swiper-button-prev {
    left: 44%;
    bottom: 80px;
  }
}

@media (max-width:900px) {

  .swiper-button-prev:after,
  .swiper-button-next:after {
    font-size: 1.3rem;
    color: #fff !important;
    border: 1px solid #fff !important;

  }

  .swiper-button-next {
    top: 83% !important;
    left: 51%;
  }

  .swiper-button-prev {
    top: 83% !important;
  }
}

@media (max-width:767px) {
  .swiper-button-prev {
    left: 44% !important;

  }
}

@media (max-width:500px) {
  .swiper-button-prev {
    left: 39% !important;

  }
}

@media (max-width:350px) {
  .swiper-button-prev {
    left: 39% !important;

  }

  .swiper-button-next {
    left: 53% !important;

  }
}

#tsparticles canvas {
  position: absolute !important;
  bottom: 300px;
  z-index: 999;

}

.swal-footer {
  text-align: center;
}

.swal-footer button {
  background-color: #024742 !important;
}

.swal-button--cancel {
  color: white !important;
}

.productPage .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active {
  background: white !important;
}

@media (min-width:901px) {
  .product-Slide {
    width: 105% !important;
  }
}

.leaflet-default-icon-path {
  background-image: url(https://unpkg.com/leaflet@1.7.1/dist/images/marker-icon.png) !important;
}